<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB6yyOiahsjIc2e5mj--w5sCE1zph7Jdz0</string>
	<key>GCM_SENDER_ID</key>
	<string>27144297356</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.app1</string>
	<key>PROJECT_ID</key>
	<string>my-awesome-messenger-app-4742b</string>
	<key>STORAGE_BUCKET</key>
	<string>my-awesome-messenger-app-4742b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:27144297356:ios:d1cbd73831ea4f3f6d94a9</string>
</dict>
</plist>